<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Groundwater Prediction</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style3.css') }}">
    <script src="{{ url_for('static', filename='js/goal2.js') }}"></script>
</head>
<body>
    <div class="form-box">
        <h4>Assessing Sustainability of Current Groundwater Extraction</h4>
        <input type="text" id="groundwater_input" class="input-field" placeholder="Enter Total Annual Ground Water Recharge">
        <button onclick="predict()" class="login-btn">Predict</button>
        <div id="first" class="shared-styles">
            <div class="result-heading">Retrieved data from the dataset:</div>
            <div class="result-text" id="retrievedDataContent"></div>
        </div>
        <div id="second" class="shared-styles">
            <div class="result-heading">Prediction:</div>
            <div class="result-text" id="predictionValue"></div>
        </div>
        <div id="third" class="shared-styles" >
            <div class="result-heading">Overview about the Prediction:</div>
            <div class="result-text" id="overviewContent"></div>
        </div>
        <a href="#" onclick="logout()">
            <img src="{{ url_for('static', filename='images/home-icon.png') }}" alt="Add Symptom" class="logout-icon1">
        </a>

    </div>


</body>
</html>
